.flip-span {
    display: inline-block;
    transition: transform 0.6s, z-index 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .flip-span:hover {
    transform: rotateY(180deg);
    z-index: 10; /* Bringing it in front */
  }
  